#portfolio{
    color:white;
    font-weight:bold;
    font-family:"Roboto";
}
#navItem1{
    font-weight:600;
    color:white;
    font-family:"Roboto";
}
#navItem2{
    font-weight:600;
    color:white;
    font-family:"Roboto";
}
#navItem3{
    font-weight:600;
    color:white;
    font-family:"Roboto";
}
#navItem4{
    font-weight:600;
    color:white;
    font-family:"Roboto";
}
#navItem5{
    font-weight:600;
    color:white;
    font-family:"Roboto";
}
#navItem6{
    font-weight:600;
    color:white;
    font-family:"Roboto";
}
.intro_section{
    margin:auto;
    padding:10px;
}
.image_myself{
    width:100%;
    height:auto;
}